html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: darkgray;
}
menu {
  position: absolute;
  display: none;
  background-color: gainsboro;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
header {
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  display: flex;
}
nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
nav ul {
  margin: 0;
  padding-left: 0;
}
nav li {
  display: inline-block;
  padding-right: 20px;
}
nav a {
  text-decoration: none;
}
.submenu {
  background-color: chocolate;
  padding-left: 0;
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
}
nav a:hover {
  text-decoration: underline;
}
li:hover .submenu {
  display: block;
}
.submenu li {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  transition: background-color 0.5s ease-out;
  border-radius: 5px;
}
.submenu li:hover {
  background-color: aquamarine;
}
main,
article,
section,
footer {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.container {
  display: flex;
}
main {
  background-color: bisque;
  flex: 3;
  margin: 10px;
}
main article {
  scroll-margin-top: 70px;
  background-color: skyblue;
}
main section {
  scroll-margin-top: 70px;
  background-color: slateblue;
}
hr {
  border-color: darkblue;
}
hgroup {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
}
.food {
  background-color: aliceblue;
}
pre {
  background-color: white;
  display: inline-block;
}
blockquote {
  background-color: whitesmoke;
}
aside {
  flex: 1;
}
aside article {
  background-color: bisque;
  margin: 10px;
}
footer {
  background-color: bisque;
  margin: 10px;
}
#social {
  display: flex;
  align-items: center;
}
